body{
    background-image: url(./images/background-friend.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron {
    background-color: blue;
    color: white;
    opacity: .75;
    margin-top: 20px;
}

#submit {
    background: crimson;
}

#jumbo_h2 {
    color: white;
}

.btn-primary {
    color: #fff;
    background-color:crimson;
    border-color: crimson;
}

.panel-title {
    color: black;
}
#matchImg{
    max-height: 600px;
    max-width:480;
}

a{
    color: white;
    
}